/* login */
/* .navbar {
    width: 60px;
    height: 100vh;
    background-color: #89D4D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
}
.navbar img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
} */

.sidebar__wrapper{
    --list-gap: 0.5rem;
    display: flex;
    flex-flow:column;
    gap: var(--list-gap);
}

.sidebar__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.125rem;
    overflow: hidden;
}

.sidebar__item{
    block-size: var(--item);
    border-radius: var(--brad-inner);
}

.item--heading{
    display: flex;
    align-items: end;
}